<div style="font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
  <p>Hi, {{name}}</p>
  <p>It looks like a password change for your account has been requested.</p>
  <p>If it was you, then click the link below to choose a new password:</p>
  <p>
    <a style="text-decoration: none; color: #27ae60;" href="{{link}}">Reset my password</a>
  </p>
  <p>If it wasn't you, discard that email!</p>
</div>