<html>
  <head>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
      }
      .button {
        font-size: 18px;
        padding: 15px;
        width: 200px;
        background: #27ae60;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        display: block;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div>
      <h2>Hi, {{name}},</h2>
      <p>Welcome to Reveal.</p>
      <p>Click the link below to confirm your email:</p>

      <a class="button" href="{{link}}">
        Confirm email
      </a>

      <p>If you have not created a Reveal account and are receiving this email in error, please ignore it.</p>

      <p>Hugs,</p>
      
      <p>Team Reveal</p>
    </div>
  </body>
</html>
